doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/form.css')
    link(rel="preconnect", href="https://fonts.googleapis.com")
    link(rel="preconnect", href="https://fonts.gstatic.com", crossorigin)
    link(href="https://fonts.googleapis.com/css2?family=Righteous&family=Shadows+Into+Light&family=Playwrite+DE+Grund&display=swap", rel="stylesheet")
    meta(content="width=device-width, initial-scale=1",name="viewport")
  body
    block content
